@{
    Layout = null;
}
@using IMS.Model.ViewModel
@model SummarizeViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Summarize</title>
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="~/Content/bootstrap/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>

</head>
<body>
    <input type="hidden" id="sum_appid" value="@Model.ApplicationVM.Id" />
    <input type="hidden" id="sum_selfrepairid" value="@Model.ApplicationVM.SelfRepairPlanID" />
    <input type="hidden" id="sum_status" value="@Model.ApplicationVM.Status" />
    <div class="center-block" style="width:910px;height:760px;margin-top:5px">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <td class="info">故障设备</td>
                    <td>@Model.ApplicationVM.DeviceShortName</td>
                    <td class="info">发生时间</td>
                    <td>@Model.ApplicationVM.BeginTime</td>
                    <td class="info">报修时间</td>
                    <td>@Model.ApplicationVM.ApplicationTime</td>
                </tr>
                <tr>
                    <td class="info">故障部位</td>
                    <td colspan="5">@Model.ApplicationVM.FullLocation</td>
                </tr>
                <tr>
                    <td class="info">故障描述</td>
                    <td colspan="5">@Model.ApplicationVM.FailureDescription</td>
                </tr>
                <tr>
                    <td class="info">故障现象</td>
                    <td colspan="5">@Model.ApplicationVM.FailureAppearance</td>
                </tr>
                <tr>
                    <td class="info">审核人</td>
                    <td>@Model.Dispatcher</td>
                    <td class="info">审核时间</td>
                    <td>@Model.DispatchTime</td>
                    <td class="info">审核结果</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="info">维修（诊断）工程师</td>
                    <td>@Model.Engineer</td>
                    <td class="info">指示事项</td>
                    <td colspan="3">@Model.Instruction</td>
                </tr>
                <tr>
                    <td class="info">维修开始时间</td>
                    <td>
                        <div class='input-group date' id='div_fssj'>
                            <input type='text' id="sum_begintime" data-date-format="yyyy-mm-dd hh:ii" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </td>
                    <td class="info">维修用时</td>
                    <td>
                        <input type="text" id="sum_timecost" />
                    </td>
                    <td class="info">故障描述</td>
                    <td>
                        <textarea id="sum_description"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="info">一级故障部位</td>
                    <td>
                        <select id="firstFailureLocation">
                            <option value="-1">请选择</option>
                        </select>
                    </td>
                    <td class="info">二级故障部位</td>
                    <td>
                        <select id="secondFailureLocation">
                            <option value="-1">请选择</option>
                        </select>
                    </td>
                    <td class="info">三级故障部位</td>
                    <td>
                        <select id="thirdFailureLocation">
                            <option value="-1">请选择</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="info">故障现象</td>
                    <td colspan="5"><textarea id="sum_appearance">@Model.ApplicationVM.FailureAppearance</textarea></td>
                </tr>
                <tr>
                    <td class="info" rowspan="2">维修步骤</td>
                    <td colspan="5" rowspan="2"><textarea id="sum_steps">@Model.SelfRepairVM.Steps</textarea> </td>
                </tr>
                <tr></tr>
                <tr>
                    <td class="info">维修工具</td>
                    <td colspan="3"><textarea id="sum_tools">@Model.SelfRepairVM.Tools</textarea></td>
                    <td class="info">备件信息</td>
                    <td colspan="3"><textarea id="sum_spareparts">@Model.SelfRepairVM.SparePartsInfo</textarea></td>
                </tr>
            </table>
        </div>
        <div style="text-align:right">

            <button type="button" class="btn btn-default" onclick="window.opener=null;window.close()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
            <button type="button" class="btn btn-success" onclick="summarize()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>提交</button>

        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            IniteDropdownList();
            $("#firstFailureLocation").change(function () {
                GetSecondLevelSubSysList();
            });
            $('#div_fssj').datetimepicker({
                //日期格式化，只显示日期
                language: 'zh-CN',     //中文化
                todayBtn: true,
                pickerPosition: "bottom-left"
            });
        });

        function IniteDropdownList() {
            $.post(
            "/Common/GetSubSystemList",
            { lev: 0, parentId: 0 },
            function (data) {
                $.each(data, function (i, item) {
                    $("<option location=" + item["Name"] + "></option>").val(item["Id"]).text(item["Name"]).appendTo($("#firstFailureLocation"));
                });
                $("#firstFailureLocation option[location='@Model.ApplicationVM.FstLevFailureLocation']").attr("Selected", true);
                $.post("/Common/GetSubSystemList", { lev: 1, parentId: $("#firstFailureLocation").val() }, function (data) {
                    $.each(data, function (i, item) {
                        $("<option location=" + item["Name"] + "></option>").val(item["Id"]).text(item["Name"]).appendTo($("#secondFailureLocation"));
                    });
                    $("#secondFailureLocation option[location='@Model.ApplicationVM.SecLevFailureLocation']").attr("Selected", true);
                    $.post("/Common/GetSubSystemList", { lev: 2, parentId: $("#secondFailureLocation").val() }, function (data) {
                        $.each(data, function (i, item) {
                            $("<option location=" + item["Name"] + "></option>").val(item["Id"]).text(item["Name"]).appendTo($("#thirdFailureLocation"));
                        });
                        $("#thirdFailureLocation option[location='@Model.ApplicationVM.ThiLevFailureLocation']").attr("Selected", true);

                    });
                });
            });
        }




        function GetFirstLevelSubSysList() {
            $.post(
                "/Common/GetSubSystemList",
                { lev: 0, parentId: 0 },
                function (data) {
                    $.each(data, function (i, item) {
                        $("<option location=" + item["Name"] + "></option>").val(item["Id"]).text(item["Name"]).appendTo($("#firstFailureLocation"));
                    })
                });

        }
        function GetSecondLevelSubSysList() {
            $("#secondFailureLocation").empty();
            $("<option></option>").val("-1").text("请选择").appendTo($("#secondFailureLocation"));
            $("#thirdFailureLocation").empty();
            $("<option></option>").val("-1").text("请选择").appendTo($("#thirdFailureLocation"));
            $.post(
            "/Common/GetSubSystemList",
            { lev: 1, parentId: $("#firstFailureLocation").val() },
            function (data) {
                $.each(data, function (i, item) {
                    $("<option location=" + item["Name"] + "></option>").val(item["Id"]).text(item["Name"]).appendTo($("#secondFailureLocation"));
                })
            });
            $("#secondFailureLocation").change(function () {
                GetThirdLevelSubSysList();
            });
        }
        function GetThirdLevelSubSysList() {
            $("#thirdFailureLocation").empty();
            $("<option ></option>").val("-1").text("请选择").appendTo($("#thirdFailureLocation"));
            $.post(
            "/Common/GetSubSystemList",
            { lev: 2, parentId: $("#secondFailureLocation").val() },
            function (data) {
                $.each(data, function (i, item) {
                    $("<option location=" + item["Name"] + "></option>").val(item["Id"]).text(item["Name"]).appendTo($("#thirdFailureLocation"));
                })
            });
        }
        function summarize() {
            var beginTime = $("#sum_begintime").val();
            var timeCost = $("#sum_timecost").val();
            var description = $("#sum_description").val();
            var appearance = $("#sum_appearance").val();
            var steps = $("#sum_steps").val();
            var tools = $("#sum_tools").val();
            var partsInfo = $("#sum_spareparts").val();
            var fstLocation = $("#firstFailureLocation option:selected").text();
            var secLocation = $("#secondFailureLocation option:selected").text();
            var thiLocation = $("#thirdFailureLocation option:selected").text();
            $.post("/Repair/Summarize",
                {
                    appID: $("#sum_appid").val(),
                    selfRepairPlanId: $("#sum_selfrepairid").val(),
                    beginTime: $("#sum_begintime").val(),
                    timeCost: $("#sum_timecost").val(),
                    description: $("#sum_description").val(),
                    appearance: $("#sum_appearance").val(),
                    steps: $("#sum_steps").val(),
                    tools: $("#sum_tools").val(),
                    partsInfo: $("#sum_spareparts").val(),
                    fstLocation: $("#firstFailureLocation option:selected").text(),
                    secLocation: $("#secondFailureLocation option:selected").text(),
                    thiLocation: $("#thirdFailureLocation option:selected").text()
                },
            function (Data) {
                data = $.parseJSON(Data);
                if (data.status == "success") {
                    alert(data.msg);
                    window.opener = null; window.close();
                }
            });
        }
    </script>
</body>

</html>
